<section class="sw-donation">
  <p>
    Running this service costs money. Please consider giving a donation if you can.
  </p>

  <p class="sw-wallet-address">
    <code>
      GCTCY3UXMHA5OXCTH2LQGTFTQIK3<wbr>F54MFPYN3UZVJNHLUUFYLSFNANDO
    </code>
  </p>
</section>
