<section class="sw-donation">
  <p>
    Running this service costs money. Please consider giving a donation if you can.
  </p>

  <p class="sw-wallet-address">
    <code>GBXPSW6DAQGOZTSKGEZ7SMGABMSUZ24OGX4JOIW4ZYQSII5DNHTN6JDZ</code>
  </p>
</section>
