<div class="sw-content">
  <p>
    Hi!
  </p>

  <p>
    We're sending this message to confirm your email address.
  </p>

  <p class="sw-ws">
    <%= link_to "Confirm e-mail address", confirmation_url(@watcher_token), class: "sw-button" %>
  </p>

  <p>
    If you didn't sign up for <%= link_to "Stellar Watcher", root_url %>,
    just ignore this message.
  </p>

  <p>
    Cheers,<br>
    Stellar Watcher
  </p>
</div>

<%= render "donation" %>
