<section class="donation">
  <h1>Donations</h1>
  <p>
    Running this service costs money. Please consider giving a donation if you can.
  </p>

  <p class="sw-wallet-address">
    <code>GBXPSW6DAQGOZTSKGEZ7SMGABMSU<wbr/>Z24OGX4JOIW4ZYQSII5DNHTN6JDZ</code>
  </p>
</section>
