<section class="donation">
  <h1>Donations</h1>
  <p>
    Running this service costs money. Please consider giving a donation if you can.
  </p>

  <p class="sw-wallet-address">
    <code>GBEJ6GF36QJRNOUCO3EOUC6BC5IN<wbr>5KNISKROZQF3MM7HRPJLOQWVL6C6</code>
  </p>
</section>
