<section class="faq">
  <h1>Webhook notifications</h1>

  <p>
    Your webhook url must respond with <a href="https://httpstatuses.com/202">202 Accepted</a> status code.
    I will retry failures with an exponential backoff using the formula <code>(retry_count ** 4) + 15 + (rand(30) * (retry_count + 1))</code> (i.e. 15, 16, 31, 96, 271, ... seconds + a random amount of time). It will perform 25 retries over approximately 21 days before giving up.
  </p>

  <h1>Privacy</h1>

  <p>
    So you're worried about your privacy. I get it! This is what you should know:
  </p>

  <p class="blue">
    <strong>Both your e-mail and wallet public key are stored encrypted on the database.</strong>
  </p>

  <p>
    You're still worried, aren't you? That's good! I give you a simple solution:
  </p>

  <p>
    Create a e-mail account on GMail and forward every message from <strong>notification@stellarwatcher.com</strong> to your
    real e-mail address. Simple as that!
  </p>

  <p>
    <strong>Remember:</strong> you can always unsubscribe and remove all of your data.
  </p>
</section>
