<section class="faq">
  <h1>Privacy</h1>

  <p>
    So you're worried about your privacy. I get it! This is what you should know:
  </p>

  <p class="blue">
    <strong>Both your e-mail and wallet public key are stored encrypted on the database.</strong>
  </p>

  <p>
    You're still worried, aren't you? That's good! I give you a simple solution:
  </p>

  <p>
    Create a e-mail account on GMail and forward every message from <strong>notification@stellarwatcher.com</strong> to your
    real e-mail address. Simple as that!
  </p>

  <p>
    <strong>Remember:</strong> you can always unsubscribe and remove all of your data.
  </p>
</section>
