<section>
  <h1>Almost there!</h1>
  <p>
    We just sent you a message to confirm your e-mail address.
    If you don't receive it in a couple of minutes, check your spam folder.
  </p>

  <%= button_to "Resend confirmation", pending_confirmation_path(@watcher) %>

</section>
