<footer class="footer">
  Made with <span class="heart">♥︎</span> in Vancouver/Canada.
  <br>
  <%= t(:delivered_notifications, count: delivered_notifications_count, number: number_with_delimiter(delivered_notifications_count)) %>
</footer>
