<header class="header">
  <%= link_to root_path do %>
    <%= image_tag "logo.svg", alt: "Stellar Watcher" %>
  <% end %>

  <p>
    Receive notifications every time your wallet changes.
  </p>
</header>
